<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>

  <div class="form-group form-group-lg">
    <%= form.text_field :title, id: :blog_title, class: 'form_control input-group input-group-lg', placeholder: 'Title' %>
  </div>

  <div class="form-group">
    <%= form.text_area :body, class: 'form_control input-group input-group-lg', rows: 15, placeholder: 'Content' %>
  </div>

  <div class="form-group">
    <%= form.radio_button :status, 'draft' %>
    <%= form.label :status, 'Draft' %>

    <%= form.radio_button :status, 'published' %>
    <%= form.label :status, 'Published' %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>
